<!-- Footer-->

<footer class="bg-dark text-white mt-5">
  <div class="container">
    <nav class="row">
      <a
        href="#"
        class="col-12 col-md-3 d-flex align-items-center text-cente text-center justify-content-center mt-3 mt-md-0"
      >
        <img
          src="./assets/images/logo-landing.png"
          alt="logo"
          class="img-logo col-3 mr-2"
        />
      </a>
      <ul class="col-4 col-md-3 list-unstyled mt-3 mt-md-5 text-center">
        <li class="font-weight-bold text-uppercase">Resource</li>
        <li><a href="#" class="text-reset text-decoration-none">Link 1</a></li>
        <li><a href="#" class="text-reset text-decoration-none">Link 2</a></li>
        <li><a href="#" class="text-reset text-decoration-none">Link 3</a></li>
      </ul>
      <ul class="col-4 col-md-3 list-unstyled mt-3 mt-md-5 text-center">
        <li class="font-weight-bold text-uppercase">Quick Link</li>
        <li><a href="#" class="text-reset text-decoration-none">Link 1</a></li>
        <li><a href="#" class="text-reset text-decoration-none">Link 2</a></li>
        <li><a href="#" class="text-reset text-decoration-none">Link 3</a></li>
      </ul>
      <ul class="col-4 col-md-3 list-unstyled mt-3 mt-md-5 text-center">
        <li class="font-weight-bold text-uppercase">Social networks</li>
        <li>
          <a href="#" class="text-reset text-decoration-none me-2"
            ><i class="fa-brands fa-twitter"></i
          ></a>
          <a href="#" class="text-reset text-decoration-none me-2"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a href="#" class="text-reset text-decoration-none me-2"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="#" class="text-reset text-decoration-none"
            ><i class="fa-brands fa-pinterest"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
