<header class="header">
  <!-- NAVBAR-->
  <nav class="navbar navbar-expand-sm navbar-dark pt-3 h4" id="navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="./assets/images/logo-landing.png" alt="logo" class="img-logo"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">About</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#">Sign in</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <!-- Description-->
    <div class="row mt-5">
      <div class="col-12 col-md-6 text-white">
        <h1 class="text-capitalize">
          <span class="h5 text-black-50">Enchanting spaces with </span>
          <br />
          <span class="color-green">floral art</span>
        </h1>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum deserunt
          vitae ea rerum quidem quasi officiis inventore, tenetur velit. Optio
          ullam libero fugit ducimus, nam aliquid quia odio impedit obcaecati.
        </p>
        <a href="#" class="text-reset btn btn-dark">Buy now</a>
      </div>
    </div>
  </div>
  <img
    class="img-transform"
    src="./assets/images/fondo-photosop.png"
    alt="fondo"
  />
</header>
